{% extends "base.html" %}
{% block content %}
    <style>
    input[type=submit] {
        background:#ccc;
        cursor:pointer;
        border-radius: 5px;
        padding: 8px 8px;
        margin: 4px 2px;
        font-size: 18px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

    }
    </style>

    <table />
    <thead>
       <th>Name</th>
       <th>Creation Time</th>
    </thead>
    {% for bucket in buckets %}
        <tr>
            <td>{{ bucket.name }}</td>
            <td>{{ bucket.creation_date }}</td>
            <td>
                <form action="{{url_for('s3_view',id=bucket.name)}}" method='get'>
                    <input type='submit' value='Details' />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}