{% extends "base.html" %}
{% block content %}

    <style>
    input[type=submit] {
        padding:5px 15px;
        background:#ccc;
        border:0 none;
        cursor:pointer;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 16px 32px;
        margin: 4px 2px;
    }
    </style>

    <form action="{{url_for('ec2_create')}}" method="post">
        <input type="submit" value="Grow">
    </form>


    <form action="{{url_for('ec2_shrink')}}" method="post">
        <input type="submit" value="Shrink">
    </form>

    <form action="{{url_for('ec2_autoscaling')}}" method="post">
        <input type="submit" value="AutoScale">
    </form>

    <form action="{{url_for('ec2_autogrow')}}" method="post">
        <input type="submit" value="AutoGrow">
    </form>

    <table />
    <thead>
       <th>ID</th>
       <th>Type</th>
       <th>Availability Zone</th>
       <th>Status</th>
    </thead> 
    {% for instance in instances %}
        <tr>
            <td>{{ instance.id }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.placement['AvailabilityZone']}}</td>
            <td>{{ instance.state['Name'] }}</td>
            <td>
                <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>
                    <input type='submit' value='Details' />
                </form>
            </td>
         
            <td>
                <form action="{{url_for('ec2_delete',id=instance.id)}}" method='post' onsubmit='return confirm("Are you sure?")'>
                    <input type='submit' value='Delete' />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}