{% extends "base.html" %}
{% block content %}
    <style>
    input[type=submit] {
    padding: 10px 20px 11px !important;
    font-size: 21px !important;
    background-color: #337ab7;
    font-weight: bold;
    text-shadow: 1px 1px #337ab7;
    color: #ffffff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border: 1px solid #337ab7;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    }
    </style>

    <form action='{{url_for("ec2_list")}}' method='get'>
        <input type='submit' value='Back' />
    </form>

    <table>
        <tr><td>ID</td><td> {{ instance.id }}</td></tr>
        <tr><td>Image AMI ID</td><td> {{ instance.image_id }}</td></tr>
        <tr><td>Key Pair </td><td> {{ instance.key_name }}</td></tr>
        <tr><td>Public IP Address</td><td>{{ instance.public_ip_address }}</td></tr>
        <tr><td>State</td><td>{{ instance.state['Name'] }}</td></tr>
    </table>


    <h2>CPU</h2>

    <div id="cpu_plot" style="width:300px;height:150px"></div>

    <h2>Network In</h2>

    <div id="net_in_plot" style="width:300px;height:150px"></div>


    <h2>Network Out</h2>

    <div id="net_out_plot" style="width:300px;height:150px"></div>


    <script>

        var options = {
            series: {
                lines: { show: true },
                points: { show: true }
            }
        };


        $.plot($("#cpu_plot"), [ {{ cpu_stats }} ] , options);
        $.plot($("#net_in_plot"), [ {{ net_in_stats }} ] , options);
        $.plot($("#net_out_plot"), [ {{ net_out_stats }} ] , options);

    </script>

{% endblock %}